@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.sameLine {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.spacing {
  display: inline-flex;
  align-items: center;
}

.centerLine {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.center {
  text-align: center;
}

.bodyPadding {
  padding: 20px;
}

#footer-a {
  Text-Decoration: None !important;
}

#footer-a:hover{
  Text-Decoration: underline !important;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

span {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}