@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Source+Sans+Pro&display=swap');
.sameLine {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.spacing {
  display: inline-flex;
  align-items: center;
}

.centerLine {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.center {
  text-align: center;
}

#film-img {
  width: 25%;
  height: 25%;
}

.bodyPadding {
  padding: 20px;
}

#container {
  min-height: 100vh;
  position: relative;
}

#body-padding {
  padding-bottom:100px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
}

#footer-a {
  Text-Decoration: None !important;
  color:dimgray;
  margin: 0 5px;
  font-size: .8em;
}

#footer-a:hover{
  Text-Decoration: underline !important;
}

p {
  font-family: 'News Cycle', sans-serif;
}

span {
  font-family: 'News Cycle', sans-serif;
}

a {
  font-family: 'News Cycle', sans-serif;
}

button {
  font-family: 'News Cycle', sans-serif;
}

@media only screen and (max-width: 600px) {
  .centerLine {
    display: grid;
    justify-items: center;
  }
  #film-img {
    width: 100%;
    height:fit-content;
  }
}