.grid-container-film {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
}

.grid-item-film {
  text-align: center;
  margin: 10px;
  border-radius: 25px;
  padding: 10px 10px 20px 10px;
  box-shadow: .5px .5px 5px #4f5e70;
  background-color:rgba(219, 227, 236, 0.315);
}

.grid-item {
  text-align: center;
  margin: 10px;
}

#home-img {
  width:100%;
  height:75%;
  border-radius: 20px;
  box-shadow: .5px .5px 3px #4f5e70;
}

.tomatoes {
  position: relative;
  white-space: nowrap;
  display: inline;
}

.cover {
  background: white;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  right: 0;
}

.film-card {
  color: black;
  margin: 0%;
  font-size: 1em;
}

.subtitle { 
  color: black;
  font-size: .8em;
  margin: 0%;
}

#footer-a {
  Text-Decoration: None !important;
  color:dimgray;
  margin: 0 5px;
  font-size: .8em;
}

#footer-a:hover{
  Text-Decoration: underline !important;
}

.left-title {
  text-align: left;
  padding-left: 3px;
}

.a-none {
  Text-Decoration: None !important;
}

.buttons {
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
  border-radius: 10px;
  padding: .5em;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.size-title{
  font-size: 1em;
}

.size-copyright{
  font-size: .9em;
}

#tab-buttons {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 1em;
}

.tab-buttons-active {
  color: #bf4747;
  border-bottom: 1px solid #bf4747 !important;
}

#tab-div {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 520px) {
  .film-card {
    font-size: 1em !important;
  }
  .subtitle { 
    font-size: .8em !important;
  }
  #tab-buttons {
    font-size: 1em;
  }
  #footer-a {
    font-size: .8em;
  }
  .size-copyright{
    font-size: .9em;
  }
}

@media only screen and (max-width: 620px)  {
  .grid-container-film {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .film-card {
    font-size: .8em;
  }
  .subtitle { 
    font-size: .6em;
  }
  .size-title{
    font-size: 1em;
  }
  .buttons {
    font-size: .8em;
  }
  #tab-buttons {
    font-size: .8em;
  }
  #footer-a {
    font-size: .6em;
  }
  .size-copyright{
    font-size: .7em;
  }
  #tab-div {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 820px) and (min-width: 620px) {
  .grid-container-film {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .film-card {
    font-size: .9em;
  }
  .subtitle { 
    font-size: .7em;
  }
  .size-title{
    font-size: 1.1em;
  }
  .buttons {
    font-size: .9em;
  }
  #tab-buttons {
    font-size: .9em;
  }
  #footer-a {
    font-size: .7em;
  }
  .size-copyright{
    font-size: .8em;
  }
}

@media only screen and (min-width: 1600px) {
  .grid-container-film {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .film-card {
    font-size: 1.5em;
  }
  .subtitle { 
    font-size: 1.1em;
  }
  .size-title{
    font-size: 1.7em;
  }
  .buttons {
    font-size: 1.5em;
  }
  #tab-buttons {
    font-size: 1.5em;
  }
  #footer-a {
    font-size: 1.1em;
  }
  .size-copyright{
    font-size: 1.2em;
  }
}