.grid-container-film {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: center;
  margin: 10px;
}
  
.a-none {
  Text-Decoration: None !important;
}

.buttons {
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
}